<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mmpi-answer-heading" data-cy="MMPIAnswerCreateUpdateHeading" jhiTranslate="psyhubApp.mMPIAnswer.home.createOrEditLabel">
        Create or edit a MMPI Answer
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.mMPIAnswer.answeredYes" for="field_answeredYes">Answered Yes</label>
          <input
            type="checkbox"
            class="form-check"
            name="answeredYes"
            id="field_answeredYes"
            data-cy="answeredYes"
            formControlName="answeredYes"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.mMPIAnswer.mMPITest" for="field_mMPITest">M MPI Test</label>
          <select
            class="form-control"
            id="field_mMPITest"
            data-cy="mMPITest"
            name="mMPITest"
            formControlName="mMPITest"
            [compareWith]="compareMMPITest"
          >
            <option [ngValue]="null"></option>
            @for (mMPITestOption of mMPITestsSharedCollection; track $index) {
              <option [ngValue]="mMPITestOption">{{ mMPITestOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.mMPIAnswer.mMPITestCard" for="field_mMPITestCard">M MPI Test Card</label>
          <select
            class="form-control"
            id="field_mMPITestCard"
            data-cy="mMPITestCard"
            name="mMPITestCard"
            formControlName="mMPITestCard"
            [compareWith]="compareMMPITestCard"
          >
            <option [ngValue]="null"></option>
            @for (mMPITestCardOption of mMPITestCardsSharedCollection; track $index) {
              <option [ngValue]="mMPITestCardOption">{{ mMPITestCardOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
