<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (city) {
      <div>
        <h2 data-cy="cityDetailsHeading"><span jhiTranslate="psyhubApp.city.detail.title">City</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ city.id }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.city.name">Name</span></dt>
          <dd>
            <span>{{ city.name }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.city.zip">Zip</span></dt>
          <dd>
            <span>{{ city.zip }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/city', city.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
