<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-session-bill-heading"
        data-cy="SessionBillCreateUpdateHeading"
        jhiTranslate="psyhubApp.sessionBill.home.createOrEditLabel"
      >
        Create or edit a Session Bill
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.sessionBill.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.sessionBill.paid" for="field_paid">Paid</label>
          <input type="checkbox" class="form-check" name="paid" id="field_paid" data-cy="paid" formControlName="paid" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.sessionBill.currency" for="field_currency">Currency</label>
          <select
            class="form-control"
            id="field_currency"
            data-cy="currency"
            name="currency"
            formControlName="currency"
            [compareWith]="compareCurrency"
          >
            <option [ngValue]="null"></option>
            @for (currencyOption of currenciesSharedCollection; track $index) {
              <option [ngValue]="currencyOption">{{ currencyOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
