<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (client) {
      <div>
        <h2 data-cy="clientDetailsHeading"><span jhiTranslate="psyhubApp.client.detail.title">Client</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ client.id }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.client.firstName">First Name</span></dt>
          <dd>
            <span>{{ client.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.client.middleName">Middle Name</span></dt>
          <dd>
            <span>{{ client.middleName }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.client.lastName">Last Name</span></dt>
          <dd>
            <span>{{ client.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.client.email">Email</span></dt>
          <dd>
            <span>{{ client.email }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.client.phone">Phone</span></dt>
          <dd>
            <span>{{ client.phone }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.client.address">Address</span></dt>
          <dd>
            @if (client.address) {
              <div>
                <a [routerLink]="['/address', client.address.id, 'view']">{{ client.address.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
