<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mmpi-test-card-feature-heading"
        data-cy="MMPITestCardFeatureCreateUpdateHeading"
        jhiTranslate="psyhubApp.mMPITestCardFeature.home.createOrEditLabel"
      >
        Create or edit a MMPI Test Card Feature
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.mMPITestCardFeature.answerYes" for="field_answerYes">Answer Yes</label>
          <input type="checkbox" class="form-check" name="answerYes" id="field_answerYes" data-cy="answerYes" formControlName="answerYes" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.mMPITestCardFeature.mMPITestCard" for="field_mMPITestCard"
            >M MPI Test Card</label
          >
          <select
            class="form-control"
            id="field_mMPITestCard"
            data-cy="mMPITestCard"
            name="mMPITestCard"
            formControlName="mMPITestCard"
            [compareWith]="compareMMPITestCard"
          >
            <option [ngValue]="null"></option>
            @for (mMPITestCardOption of mMPITestCardsSharedCollection; track $index) {
              <option [ngValue]="mMPITestCardOption">{{ mMPITestCardOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.mMPITestCardFeature.mMPIFeature" for="field_mMPIFeature">M MPI Feature</label>
          <select
            class="form-control"
            id="field_mMPIFeature"
            data-cy="mMPIFeature"
            name="mMPIFeature"
            formControlName="mMPIFeature"
            [compareWith]="compareMMPIFeature"
          >
            <option [ngValue]="null"></option>
            @for (mMPIFeatureOption of mMPIFeaturesSharedCollection; track $index) {
              <option [ngValue]="mMPIFeatureOption">{{ mMPIFeatureOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
