<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-therapist-heading" data-cy="TherapistCreateUpdateHeading" jhiTranslate="psyhubApp.therapist.home.createOrEditLabel">
        Create or edit a Therapist
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.therapist.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.therapist.middleName" for="field_middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="field_middleName"
            data-cy="middleName"
            formControlName="middleName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.therapist.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.therapist.userid" for="field_userid">Userid</label>
          <input type="text" class="form-control" name="userid" id="field_userid" data-cy="userid" formControlName="userid" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="psyhubApp.therapist.office" for="field_office">Office</label>
          <select
            class="form-control"
            id="field_office"
            data-cy="office"
            name="office"
            formControlName="office"
            [compareWith]="compareOffice"
          >
            <option [ngValue]="null"></option>
            @for (officeOption of officesSharedCollection; track $index) {
              <option [ngValue]="officeOption">{{ officeOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
