<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (address) {
      <div>
        <h2 data-cy="addressDetailsHeading"><span jhiTranslate="psyhubApp.address.detail.title">Address</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ address.id }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.address.street">Street</span></dt>
          <dd>
            <span>{{ address.street }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.address.houseNo">House No</span></dt>
          <dd>
            <span>{{ address.houseNo }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.address.city">City</span></dt>
          <dd>
            @if (address.city) {
              <div>
                <a [routerLink]="['/city', address.city.id, 'view']">{{ address.city.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="psyhubApp.address.country">Country</span></dt>
          <dd>
            @if (address.country) {
              <div>
                <a [routerLink]="['/country', address.country.id, 'view']">{{ address.country.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
