<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (mMPITest) {
      <div>
        <h2 data-cy="mMPITestDetailsHeading"><span jhiTranslate="psyhubApp.mMPITest.detail.title">MMPI Test</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ mMPITest.id }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.mMPITest.order">Order</span></dt>
          <dd>
            <span>{{ mMPITest.order }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.mMPITest.date">Date</span></dt>
          <dd>
            <span>{{ mMPITest.date | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.mMPITest.client">Client</span></dt>
          <dd>
            @if (mMPITest.client) {
              <div>
                <a [routerLink]="['/client', mMPITest.client.id, 'view']">{{ mMPITest.client.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/mmpi-test', mMPITest.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
