<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (office) {
      <div>
        <h2 data-cy="officeDetailsHeading"><span jhiTranslate="psyhubApp.office.detail.title">Office</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ office.id }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.office.officeName">Office Name</span></dt>
          <dd>
            <span>{{ office.officeName }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.office.website">Website</span></dt>
          <dd>
            <span>{{ office.website }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.office.email">Email</span></dt>
          <dd>
            <span>{{ office.email }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.office.phone">Phone</span></dt>
          <dd>
            <span>{{ office.phone }}</span>
          </dd>
          <dt><span jhiTranslate="psyhubApp.office.address">Address</span></dt>
          <dd>
            @if (office.address) {
              <div>
                <a [routerLink]="['/address', office.address.id, 'view']">{{ office.address.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/office', office.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
